<web-app version="2.5" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<display-name>Archetype Created Web Application</display-name>
 <!-- Listeners -->
    <listener>
        <listener-class>
        io.bdrc.ldspdi.service.BootClass
        </listener-class>        
    </listener>    
    <filter>
    	<filter-name >Jersey Service </filter-name >
    	<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
    	<init-param >
    	<param-name >jersey.config.server.provider.packages</param-name >
    	<param-value >io.bdrc.ldspdi.rest.resources</param-value >
    	</init-param >
    	<init-param>
                <param-name>jersey.config.server.provider.classnames</param-name>
                <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature, org.glassfish.jersey.server.mvc.jsp.JspMvcFeature</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name >Jersey Service </filter-name >
        <url-pattern >/*</url-pattern>
    </filter-mapping >
</web-app>

